# Ignora TUDO no diretório .config
/*

# Exceto estas pastas (e seus conteúdos)
!.config/

# Permite arquivos específicos na raiz
!.zshrc
!.gitignore

# ignora tudo dentro de .config, exceto as pastas e arquivos listados abaixo
.config/*
!.config/alacritty/
!.config/autostart/
!.config/doom/
!.config/emacs/
!.config/fish/
!.config/ghostty/
!.config/hypr/
!.config/kitty/
!.config/kvantum/
!.config/neovide/
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/qtile/
!.config/rofi/
!.config/sway/
!.config/wezterm/
!.config/yazi/
!mimeapps.list

# arquivos ou pastas fora do .config
!.local/share/fonts/
!.fonts/
*Zone.Identifier*

/home/lm/dotfiles/.config/emacs/
