[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=emacs daemon
Comment=emacs server
Exec=emacs --daemon
TryExec=emacs --daemon
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
